.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.editorWrapper {
  padding: 1rem 0rem;
  width: 80%;
  /* background-color: red; */
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 1rem 0rem;
}

.form-input {
  outline: tan;
  height: 40px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
}

.form-label {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
  font-weight: 500;
  color: #24285b;
  font-family: 'Montserrat', sans-serif;
}

.heading {
  color: #24285b;
  font-family: 'Montserrat', sans-serif;
}

.button {
  background-color: #24285b;
  padding: 0.7rem 1.5rem;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
  font-size: 1rem;
  margin-top: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.button:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.content {
  border: 1px solid #f1f1f1;
  outline: none;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}
